html{
  font-size: 16px;
  font-family: 'Alegreya', serif;
}

.center{
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 950px){
  .center{
    width: 100%;
  }
}

header a:hover,
.info a:hover{
  text-decoration: underline;
}

/*info sidebars*/
.info img{
  margin: 1rem;
  width: 35%;
  height: 100%;
}

.info{
  background-color: black;
  display: flex;
  align-items: center;
  border: 5px solid white;
  color: white;
}

.sidebar-column{
  margin-top: 1.7rem;
  width: 32rem;
}

.info h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

/*Header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #12E7FF;
}

.desktop{
  display: flex;
  align-items: center;
}

header img{
  margin-left: 1.5rem;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
}

header a{
  margin-left: 1rem;
  color: #221166;
  font-weight: bold;
}


.colmar{
  color: #9B124B;
  font-weight: bold;
}

.academy{
  color: #663A11;
  font-weight: bold;
}

.mobile{
  display: none;
}
/*mobile header*/
@media only screen and (max-width: 600px){
  header .desktop-nav{
    display: none;
  }

 .school-name{
   width: 100%;
 }

  .mobile{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .desktop{
    display: none;
  }
}
/*banner*/
.banner{
  display: flex;
}

.banner-background{
  background-image: linear-gradient(#12E7FF, #4F0A30);
  padding: 2rem 0;
}

.banner img{
  height: 60%;
  width: 60%;
  margin: 0 1.5rem;
}

.learn{
  width: 50%;
}

.learn h1{
  font-size: 5rem;
  margin-bottom: 2rem;
}

.learn h3{
  font-size: 2.3rem;
}

button{
  font-size: 1.5rem;
  padding: .5rem;
  background-color: white;
  width: 80%;
  margin-top: 2rem;
  border: 0;
}

button:hover{
  background-color: #E5E5E5;
  transition-duration: 500ms;
}

button:active{
  background-color: #D6D6D6;
  transition-duration: 50ms;
}

@media only screen and (max-width: 950px){
  .banner{
    flex-direction: column;
    width: 100%;
  }

  .banner-background{
    padding: 0;
  }

  .banner img{
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .learn{
    width: 100%;
  }

  .banner h1{
    margin: 2rem 1rem;;

  }

  .banner h3{
    margin-left: 1rem;
  }

  button{
    width: 90%;
    margin: 1.5rem 1rem 2rem 1rem;
    padding: 0;
  }
}
/*school info*/
.campus-info{
  display: flex;
}
.practice{
  padding: 2rem 1.5rem 0 1.5rem;
  width: 60%;
}
.practice img{
  width: 100%;
  margin-bottom: 2rem;
}

.practice h2{
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.practice p{
  font-size: 1.3rem;
}

.practice span{
  font-style: italic;
}

.campus-info a{
  margin-top: 1.5rem;
  color: lightblue;
}

.mobile-img{
  display: none;
}

@media only screen and (max-width: 600px){
  .practice{
    display: none;
  }

  .mobile-column{
    width: 100%;
  }

  .info{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    background-color: #4A4C4C;
    flex-direction: column;
    align-items: flex-start;
   }

   .text-info{
     margin-top: 1rem;
     margin-left: 1rem;
   }

  .sidebar-column{
    margin-top: 0;
  }

  .orientation{
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .campus{
    padding-bottom: 4rem;
  }

  .lecture{
    padding-bottom: 2rem;
  }

  .desktop-img{
    display: none;
  }

  .mobile-img{
    display: flex;
  }

  .mobile-img img{
    width: 100%;
    margin: 0;
  }
}

/*start learning sec*/
.learning-container{
  background-color: #4F0A30;
  margin-top: 2rem;
}

.learning{
  padding: 2rem 3.5rem 3.5rem 3.5rem;
}
.learning h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  text-shadow: .25rem .25rem .25rem gray;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.classes img{
  height: auto;
  width: 100%;
}

.classes{
  width: 30%;
  margin: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
}

.classes h3{
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.classes div{
  margin: .5rem 0;
}

.course-info{
  padding-left: 1rem;
}

.course-info div{
  font-style: italic;
}

@media only screen and (max-width: 950px){

  .classes img{
    display: none;
  }

  .course-info div,
  .course-info span{
    display: none;
  }

  .classes h3{
    margin: 0;
  }

  .learning{
    width: 100%;
    padding: 2rem 0;
  }

  .courses{
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0 1rem;
  }

  .classes{
    width: 100%;
    margin: 0 0rem .5rem 0rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .learning-container{
    margin: 0;
  }
}
/*thesis exhibit*/
.thesis{
  padding: 2rem 0 2rem 1.5rem;
}
.thesis h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.container{
  display: flex;
}

.urban{
  width: 60%;
  margin-right: 1.5rem;
}

.urban h3{
  font-size: 2rem;
  margin-bottom: .5rem;
}

video{
  margin-bottom: 1.5rem;
}

#event-link:hover{
  background-color: hsla(0, 0%, 0%, .5);
  text-decoration: none;
}

@media only screen and (max-width: 600px){
  .event{
    display: none;
  }

  .urban{
    width: 100%;
    margin: 0;
  }

  .urban video{
    margin: 0;
  }

  .urban h3,
  .urban p{
    display: none;
  }
  .thesis{
    padding: 2rem 0 1.5rem 0;
  }
}
/*footer*/

footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 1rem 1.5rem;
  background-color: hsla(331, 100%, 17%, 0.9);
  color: white;
}

footer nav ul{
  display: flex;
}

footer ul li{
  margin-left: 1.5rem;
}

footer a{
  color: white;
}

@media only screen and (max-width: 600px){
  nav{
    display: none;
  }
}
